@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");
/* RESET =================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none;
  border: none; }

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block; }

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style-type: none; }

html {
  scroll-behavior: smooth; }

svg {
  width: 100%;
  display: block; }

::selection {
  color: #b33600;
  background-color: #a1a1a1; }

body {
  background-color: #272727;
  color: white; }

/* header============= */
header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.589), black), url(../archivos/foto-baner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #a1a1a1;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  header .logo {
    font-size: 2.5em;
    color: #b33600;
    font-weight: bold;
    margin-left: 0.6em; }
  header .navegador {
    display: flex;
    flex-wrap: wrap; }
    header .navegador a {
      font-size: 1.2em;
      margin: .2em .3em;
      text-shadow: 2px 2px 10px black; }
    header .navegador a:hover {
      color: #b33600;
      transition: .5s;
      text-decoration: underline; }

/* actividades============ */
#actividades {
  margin-top: 15vh;
  padding: 2em;
  background-color: #212121;
  color: #e1e1e1;
  border-radius: 5px; }
  #actividades h3 {
    color: #b33600;
    text-shadow: 1px 1px 2px black;
    font-size: 1.7em;
    margin-bottom: 1em; }
  #actividades span {
    color: #b33600;
    text-shadow: 1px 1px 10px black; }

/* horarios============ */
#horarios {
  padding: 2em;
  background: linear-gradient(-90deg, #000000, #4d0404, #3e1500, #000000);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  /* height: 100vh; */
  color: #ffffff;
  border-radius: 5px; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
  #horarios .semana {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    #horarios .semana .dia {
      padding: 1em;
      box-shadow: 2px 2px 10px rgba(180, 36, 36, 0.795);
      border-radius: 5px; }
      #horarios .semana .dia strong {
        font-size: 1.5em; }
  #horarios h3 {
    color: #b33600;
    text-shadow: 1px 1px 2px black;
    font-size: 1.7em;
    margin-bottom: 1em; }

/* planes============ */
#planes {
  padding: 2em; }
  #planes h3 {
    color: #b33600;
    text-shadow: 1px 1px 2px black;
    font-size: 1.7em;
    margin-bottom: 1em; }
  #planes p {
    font-size: 1.5em; }

/* novedades============ */
#novedades {
  padding: 2em; }
  #novedades h3 {
    color: #b33600;
    text-shadow: 1px 1px 2px black;
    font-size: 1.7em;
    margin-bottom: 1em; }
  #novedades h4 {
    font-size: 1.3em;
    color: #ffffff;
    text-shadow: 1px 1px 2px black; }
  #novedades p {
    text-shadow: 1px 1px 2px black;
    font-style: italic; }

/* contacto============= */
.btn {
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: .125em;
  --curve-size: .5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: .5em 1.5em;
  font-size: 17px;
  border: 0;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
  transition: color 250ms; }

.btn::after,
.btn::before {
  content: '';
  position: absolute;
  inset: 0; }

.btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 1.5s ease infinite;
  z-index: -2; }

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%; }
  50% {
    background-position: 70% 100%; }
  100% {
    background-position: 31% 0%; } }

.btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(var(--border-width) calc(var(--curve-size) + var(--border-width) * .5), calc(var(--curve-size) + var(--border-width) * .5) var(--border-width), calc(100% - var(--border-width)) var(--border-width), calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * .5)), calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)), var(--border-width) calc(100% - var(--border-width)));
  transition: clip-path 500ms; }

.btn:where(:hover, :focus)::after {
  clip-path: polygon(calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)), calc(100% - var(--border-width)) var(--border-width), calc(100% - var(--border-width)) var(--border-width), calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * .5)), calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)), calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)));
  transition: 200ms; }

.btn:where(:hover, :focus) {
  color: #fff; }

/* Boton volver al inicio ====== */
.boton-volver {
  padding: 2em; }

.back-top {
  width: 140px;
  height: 56px;
  overflow: hidden;
  border: none;
  color: #ffffff;
  background: none;
  position: relative;
  padding-bottom: 2em; }

.back-top > div,
.back-top > .top-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex; }

.back-top:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  background: currentColor;
  transition: transform 0.25s ease-out; }

.back-top:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left; }

.back-top .clone > *,
.back-top .text > * {
  opacity: 1;
  font-size: 1.3rem;
  transition: 0.2s;
  margin-left: 4px; }

.back-top .clone > * {
  transform: translateY(60px); }

.back-top:hover .clone > * {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }

.back-top:hover .text > * {
  opacity: 1;
  transform: translateY(-60px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }

.back-top:hover .clone > :nth-child(1) {
  transition-delay: 0.15s; }

.back-top:hover .clone > :nth-child(2) {
  transition-delay: 0.2s; }

.back-top:hover .clone > :nth-child(3) {
  transition-delay: 0.25s; }

.back-top:hover .clone > :nth-child(4) {
  transition-delay: 0.3s; }

.back-top .top-back {
  width: 20px;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-50deg);
  transition: 0.2s ease-out; }

.back-top:hover svg {
  transform: translateY(-50%) rotate(-90deg); }

#contacto {
  padding: 2em;
  box-shadow: 2px 2px 10px #b33600;
  border: 5px solid #880606;
  background-color: #000000; }
  #contacto .enlaces {
    padding: 2em; }
  #contacto .mapa {
    padding: 2em; }
  #contacto h3 {
    color: #b33600;
    text-shadow: 1px 1px 2px black;
    font-size: 1.7em;
    margin-bottom: 1em; }
  #contacto h4 {
    font-size: 1.3em;
    font-weight: 300;
    margin: .5em 0; }

/* consejos============ */
#consejos {
  padding: 2em; }
  #consejos h3 {
    color: #b33600;
    text-shadow: 1px 1px 2px black;
    font-size: 1.7em;
    margin-bottom: 1em; }
  #consejos h4 {
    color: #b33600;
    text-shadow: 1px 1px 2px black;
    font-size: 1.3em; }
  #consejos p {
    font-style: italic; }

/* footer============ */
footer {
  text-align: center;
  text-shadow: 1px 1px 2px black;
  padding: 1.5em;
  margin-bottom: 3px;
  border: 3px solid black; }

/* tienda =============*/
body {
  background-color: #141414; }

header #logo {
  font-size: 2.7em;
  color: #b33600;
  font-weight: bold;
  text-shadow: 2px 2px 10px black; }

/*bloque de main.js*/
#buscador {
  margin-top: 1rem;
  margin-left: 2rem;
  font-size: 2em;
  border-radius: 5px;
  text-shadow: 1px 1px 2px black;
  background-color: #b33600;
  color: white; }

.h2Buscador {
  margin-top: 6rem;
  margin-left: 2.5rem;
  font-size: 2.5em;
  color: #b33600;
  text-shadow: 2px 2px 2px black; }

#contenedor-productos {
  display: flex;
  flex-wrap: wrap; }

h3 {
  display: inline;
  color: #b33600;
  text-shadow: 2px 2px 10px black;
  font-size: 2em; }

.producto {
  width: 200px;
  height: 350px;
  padding: 1em;
  margin: 2rem;
  border-radius: 2rem; }

.producto:hover {
  box-shadow: 2px 2px 30px rgba(115, 176, 255, 0.824);
  transition: .3s; }

img {
  height: 150px;
  width: 150px;
  border-radius: 10rem;
  margin: 0.5em; }

.boton {
  border-radius: 1rem;
  margin: 1em 1.5em;
  height: 2rem;
  width: 7rem;
  font-weight: bold; }

.boton:hover {
  background-color: #b33600;
  color: white;
  transition: .3s; }

#contenedorCarrito {
  margin: 10px 5vw;
  width: 90vw;
  border: 2px solid white;
  box-shadow: 2px 2px 10px #025a86;
  display: flex;
  flex-wrap: wrap; }

#contenedorCarrito p {
  margin: 1rem; }

.flex {
  margin: 1rem;
  border: 2px solid white;
  border-radius: 5px;
  font-weight: bold; }

#total {
  text-align: end;
  margin: 2.5rem; }

#comprar {
  border-radius: 5px;
  margin: 10px 2.5rem;
  font-size: 2em;
  width: 20rem;
  height: 3rem; }

#comprar:hover {
  background-color: #b33600;
  color: white;
  text-shadow: 2px 2px 2px black;
  transition: .3s; }

.footer {
  margin-top: 100px; }
