* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin margen {
    margin: 0.1em 0.2em;
}
/* @include margen; */
    
a{
    text-decoration: none;
}


header{
    background-color: lawngreen;
    

    #logo{
        
    }
    nav{
        
        a{
        
        }

    }
}

#actividades{
    background-color: orangered;

    h3{

    }

    .boxeo{
        background-color: lightslategray;

        h4{

        }
        p{

        }
        span{

        }
    }

    .muay-thai{
        background-color: aqua;

        h4{

        }
        p{

        }
        span{

        }
    }

    .jiu-jitsu{
        background-color: saddlebrown;

        h4{

        }
        p{

        }
        span{
            
        }
    }

    .mma{
        background-color: fuchsia;

        h4{

        }
        p{

        }
        span{
            
        }
    }

    .hit{
        background-color: gold;

        h4{

        }
        p{

        }
        span{
            
        }
    }

    .funcional{
        background-color: teal;

        h4{

        }
        p{

        }
        span{
            
        }
    }

    .personalizado{
        background-color: red;

        h4{

        }
        p{

        }
        span{
            
        }
    }
}