* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

$color-principal: #b55a1a;

@mixin margenes {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

@mixin actividades {
    background-color: #3d3d3d;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 5px;
    padding: 0 5px;
}

h3 {
    color: $color-principal;
    text-align: center;
}

body {
    background-color: #000000;
    color: #ffffff;
}


/* Navegador/Menu */
.container-menu,
.boton,
.nav {
    position: fixed;
    width: 100%;
}

.container-menu {
    margin: auto;
    top: 3%;
    margin-left: 10px;

}

#toggle {
    display: none;
}

.boton {
    z-index: 999;
    width: 43px;
    height: 43px;
    background: $color-principal;
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
    box-shadow: 1px 1px 20px 0 $color-principal;
    cursor: pointer;
}

.boton:before {
    position: absolute;
    top: 20px;
    left: 9px;
    content: '';
    width: 25px;
    height: 2px;
    background: #fff;
    transform: rotate(90deg);
}

.boton:after {
    position: absolute;
    top: 20px;
    left: 9px;
    content: '';
    width: 25px;
    height: 2px;
    background: #fff;

}

.nav {
    transform: translateY(-10%);
    opacity: 0;
    top: 20px;
    transition: all 0.5s ease-in-out;
    background: rgb(213, 213, 213);
    width: 40%;
    border-radius: 5px;
    transform: translateY(-100%);
}

.nav a {
    text-align: center;
    display: block;
    margin: 20px 0;
    color: #000000;
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: 2px;
    transition: all 300ms;

    span {
        font-style: italic;
        font-weight: bold;
        color: $color-principal;
        transition: all 300ms;
    }
}

.nav a:hover {
    color: #ffffff;
    background-color: $color-principal;

    span {
        background-color: #ffffff;
    }
}

#toggle:checked~.nav {
    opacity: 1;
    transform: translateY(10%);
}

#toggle:checked~.boton {
    transform: rotate(135deg);
    box-shadow: 0 0 0 0 transparent;
}

/* Seccion 1 actividades */

#actividades {
    margin-top: 5em;
    @include margenes();

    h4 {
        color: #3776ff;
        text-shadow: 0px 0px 2px rgb(0, 0, 0);
    }

    span {
        font-style: italic;
    }

    .boxeo {
        @include actividades();
    }

    .muay-thai {
        @include actividades();
    }

    .jiu-jitsu {
        @include actividades();
    }

    .mma {
        @include actividades();
    }

    .hit {
        @include actividades();
    }

    .funcional {
        @include actividades();
    }

    .personalizado {
        @include actividades();
    }
}

/* Seccion 2 horarios */

#horarios {
    @include margenes();

    strong {
        color: #3776ff;
        text-shadow: 0px 0px 2px rgb(0, 0, 0);
    }

    .lunes {
        @include actividades();
    }

    .martes {
        @include actividades();
    }

    .miercoles {
        @include actividades();
    }

    .jueves {
        @include actividades();
    }

    .viernes {
        @include actividades();
    }
}


/* Seccion 3 Planes */

#planes {
    @include margenes();
    .costos{
        @include actividades();
    }
}


/* Seccion 4 Novedades */

#novedades {
    @include margenes();

    .nutricion {
        @include actividades();
    }

    .yoga {
        @include actividades();

        .enlace {
            color: $color-principal;
            font-style: italic;
        }
    }
}


/* Seccion 4 Contacto */
#contacto {
    @include margenes();
    display: flex;
    flex-direction: column;

    .gimnasio {
        background-color: #9f481f;
        text-align: center;
        padding: 5px 0;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    .emiliano {
        background-color: #9f481f;
        text-align: center;
        padding: 5px 0;
        border-radius: 5px;
        margin-bottom: 5px;
    }

}

button {
    background-color: #fff;
    padding: 5px;
    position: relative;
    width: 7.2em;
    height: 2em;
    transition: 0.5s;
    font-size: 17px;
    border-radius: 0.4em;
}

button p {
    position: absolute;
    top: 0.4em;
    left: 1.2em;
    margin: 0;
    padding: 0;
    transition: .5s;
    color: $color-principal;
    font-weight: bold;
}

button svg {
    position: absolute;
    top: 0.45em;
    right: 0.5em;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    height: 1em;
    fill: #fff
}

button:hover p {
    left: 0.6em;
    color: #fff
}

button:hover svg {
    opacity: 1;
}

button:hover {
    background-color: #bc2a8d;
}

/* Seccion 5 Consejos */

#consejos {
    @include margenes();

    p {
        @include actividades();
    }

    strong {
        color: #3776ff;
        text-shadow: 0px 0px 2px rgb(0, 0, 0);
    }
}

/* Footer */
footer {
    text-align: center;
}